<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>285595276470-5u630m4hkf8dncshpg69cnlr81abgfgj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.285595276470-5u630m4hkf8dncshpg69cnlr81abgfgj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>285595276470-u33so8phu4n2o05n1g8fiurt97j6soh8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB7cTlup2LWwXlYI_gHAMY4_54ieHoDUzM</string>
	<key>GCM_SENDER_ID</key>
	<string>285595276470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.padelpro</string>
	<key>PROJECT_ID</key>
	<string>padel-manager-pro</string>
	<key>STORAGE_BUCKET</key>
	<string>padel-manager-pro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:285595276470:ios:88383e719ddb38dbca4217</string>
</dict>
</plist>