<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>505646403706-ut2obnjhnuhs1tujk4rqmr8tjg3m2t79.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.505646403706-ut2obnjhnuhs1tujk4rqmr8tjg3m2t79</string>
	<key>API_KEY</key>
	<string>AIzaSyA8Uw9NnBcM35ZvT2lRFQoludoy5BvkSn8</string>
	<key>GCM_SENDER_ID</key>
	<string>505646403706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.padelpro.dev</string>
	<key>PROJECT_ID</key>
	<string>padel-manager-pro---dev-95ef7</string>
	<key>STORAGE_BUCKET</key>
	<string>padel-manager-pro---dev-95ef7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505646403706:ios:1daee8b08a21ba1095ebc3</string>
</dict>
</plist>